body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #080808;
}
header {
    background: #a0a0a0;
    color: #000000;
    padding: 1rem;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    background: #fffdfd;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(19, 19, 19, 0.5),0px -1px 1px rgba(0,0,0,.3);
    padding-right: 200px;
}
h2 {
    color: #555;
    text-align: center;
}
p {
    margin-bottom: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}
ul{
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
}
pre{
    padding-left: 300px;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.76);
    text-align: center;
}
.calculator input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #575757;
    border-radius: 5px;
}
.calculator button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #838383;
    color: white;
    cursor: pointer;
}
.calculator button:hover {
    background-color: #686868;
}
.result {
    margin-top: 20px;
    font-size: 18px;
}
div.calculator{

    background-color: #333;
    padding-left: 300px;
    padding-right: 300px;
}
div.result{
    color: white;
    text-shadow: -1px -2px 1px #000000;
}
.letra{
    color:#646060;
    text-shadow: -1px -2px #cccccc;
    text-align: center;
    font-size: 35px;
}
#dise-footer {
	background: #333;
	color: white;
	padding: 20px;
	margin-top: 40px;
}
	#dise-footer p {
		margin: 0;
	}
	
	#dise-footer a {
		color: white;
	}

.item{
  float:left;
  padding-left: 100px;
}